doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="../assets/styles/my/my-recharge.min.css")

    body
        // header
        include ../com/header

        //containner
        div.container.clearfix
            .my_nav.fl
                include ../com/my-nav
            .my_right.fr

                div
                   p.local_nav 当前位置：
                    a(href="/my/my-index.html") 个人中心
                    span.splite >
                    span 提现申请

                .content
                    form#recharge_form
                        .recharge
                            .platform.clearfix
                                p 提现平台
                                .gray_box
                                    div
                                        label.radio_area
                                            input.radio(type="radio",name="cashtype",value="unionpay")
                                            i.fr.visa
                                        p.t-c 银联
                                    div
                                        label.radio_area
                                            input.radio(type="radio",name="cashtype",value="alipay")
                                            i.fr.ali
                                        p.t-c 支付宝
                                    div
                                        label.radio_area
                                            input.radio(type="radio",name="cashtype",value="wechat")
                                            i.fr.wechat
                                        p.t-c 微信支付
                            .info
                                p 已绑定账号
                                .gray_box#bank
                                    //.input
                                    //    label 银行卡号：
                                    //    span 866126361287346128436926463
                                    //.input
                                    //    label 开户行：
                                    //    span 866126361287346128436926463
                                    //.input
                                    //    label 开户人：
                                    //    span 866126361287346128436926463
                                    //.input
                                    //    label 金额(￥)：
                                    //    input(type="text")
                                p.c_pink 注：使用银行卡提现会产生一定的手续费，该手续费由您来承担。不同的开户行手续费不同。
                            .t-c
                                input(type="submit",class="pink_btn save_btn",value="保存")
        // footer
        include ../com/footer

        script(type="text/javascript") seajs.use("../assets/scripts/my/my-cash.js");
        script(type="text/html",id="bank-tmpl")
            | <div class="input">
            | <label>银行卡号：</label><span><!--[=cardNo || '']--></span>
            | </div>
            | <div class="input">
            | <label>开户行：</label><span><!--[=bank || '']--></span>
            | </div>
            | <div class="input">
            | <label>开户人：</label><span><!--[=reallyName || '']--></span>
            | </div>
            | <div class="input">
            | <label>金额(￥)：</label>
            | <input type="text" maxlength="6" name="money">
            | <input type="hidden" name="accountType" value="<!--[=accountType]-->">
            | </div>
        script(type="text/html",id="alipay-bank-tmpl")
            | <div class="input">
            | <label>支付宝账号：</label><span><!--[=cardNo || '']--></span>
            | </div>
            | <div class="input">
            | <label>真实姓名：</label><span><!--[=reallyName || '']--></span>
            | </div>
            | <div class="input">
            | <label>金额(￥)：</label>
            | <input type="text" maxlength="6" name="money">
            | <input type="hidden" name="accountType" value="<!--[=accountType]-->">
            | </div>
        script(type="text/html",id="wechat-bank-tmpl")
            | <div class="input">
            | <label>微信账号：</label><span><!--[=cardNo || '']--></span>
            | </div>
            | <div class="input">
            | <label>真实姓名：</label><span><!--[=reallyName || '']--></span>
            | </div>
            | <div class="input">
            | <label>金额(￥)：</label>
            | <input type="text" maxlength="6" name="money">
            | <input type="hidden" name="accountType" value="<!--[=accountType]-->">
            | </div>
