doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="../assets/styles/my/my-route.min.css")

    body
        // header
        include ../com/header

        //containner
        div.container.clearfix
            .my_nav.fl
                include ../com/my-nav
            .my_right.fr

                div
                   p.local_nav 当前位置：
                    a(href="/my/my-index.html") 个人中心
                    span.splite >
                    span 我的线路

                .content
                    ul.route
                        li.gray_box
                            .route_flag.t-c.c_6c6c6c 主线
                            .p_c_a
                                form.route_form#mainline
                                    .t-l.c_6c6c6c
                                        label 起运地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="fromProvince")
                                        select.select.city(name="fromCity")
                                        select.select.area(name="fromArea")

                                    .t-l.c_6c6c6c
                                        label 目的地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="toProvince")
                                        select.select.city(name="toCity")
                                        select.select.area(name="toArea")

                                    input(type="hidden",name="lineType",value="mainline")
                                    input(type="hidden",name="lineId",value="")
                                    input(type="submit",value="保存")
                        li.gray_box
                            .route_flag.t-c.c_6c6c6c 其他线路
                            .p_c_a
                                form.route_form.other_line
                                    .t-l.c_6c6c6c
                                        label 起运地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="fromProvince")
                                        select.select.city(name="fromCity")
                                        select.select.area(name="fromArea")

                                    .t-l.c_6c6c6c
                                        label 目的地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="toProvince")
                                        select.select.city(name="toCity")
                                        select.select.area(name="toArea")

                                    input(type="hidden",name="lineType",value="otherline")
                                    input(type="hidden",name="lineId",value="")
                                    input(type="submit",value="保存")
                        li.gray_box
                            .route_flag.t-c.c_6c6c6c 其他线路
                            .p_c_a
                                form.route_form.other_line
                                    .t-l.c_6c6c6c
                                        label 起运地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="fromProvince")
                                        select.select.city(name="fromCity")
                                        select.select.area(name="fromArea")

                                    .t-l.c_6c6c6c
                                        label 目的地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="toProvince")
                                        select.select.city(name="toCity")
                                        select.select.area(name="toArea")

                                    input(type="hidden",name="lineType",value="otherline")
                                    input(type="hidden",name="lineId",value="")
                                    input(type="submit",value="保存")
                        li.gray_box
                            .route_flag.t-c.c_6c6c6c 其他线路
                            .p_c_a
                                form.route_form.other_line
                                    .t-l.c_6c6c6c
                                        label 起运地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="fromProvince")
                                        select.select.city(name="fromCity")
                                        select.select.area(name="fromArea")

                                    .t-l.c_6c6c6c
                                        label 目的地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="toProvince")
                                        select.select.city(name="toCity")
                                        select.select.area(name="toArea")

                                    input(type="hidden",name="lineType",value="otherline")
                                    input(type="hidden",name="lineId",value="")
                                    input(type="submit",value="保存")
                        li.gray_box
                            .route_flag.t-c.c_6c6c6c 其他线路
                            .p_c_a
                                form.route_form.other_line
                                    .t-l.c_6c6c6c
                                        label 起运地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="fromProvince")
                                        select.select.city(name="fromCity")
                                        select.select.area(name="fromArea")

                                    .t-l.c_6c6c6c
                                        label 目的地&nbsp;*&nbsp;: &nbsp;

                                        select.select.province(name="toProvince")
                                        select.select.city(name="toCity")
                                        select.select.area(name="toArea")

                                    input(type="hidden",name="lineType",value="otherline")
                                    input(type="hidden",name="lineId",value="")
                                    input(type="submit",value="保存")


        // footer
        include ../com/footer

        script(type="text/javascript") seajs.use("../assets/scripts/my/my-route.js");

