@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/reg-common'
.drillList{
  margin-top 0px
  border-top 1px solid #ddd
}
.noData {
  color #333333;
  text-align center;
  margin-top 25px;
  display none
}
.myCache{
  text-align right
}
.myCache a
  color #fff
.my_btn{
  width 10%
  height 45px
  background-color #1c94c4
  border-radius 5px
  display inline-block
  margin-top 20px
  margin-right 20px
}

.content ul li{
  padding  20px
}
.imgBox{
  width: 400px;
  height: 400px;
}
.imgBox video
  border 1px solid #ddd
  width 100%;
  height 100%;

.infoBox{
  margin-left 3%;
  width 50%;
  margin-top 20px;
  color: #333;
  overflow hidden;
}
.infoBox .info p
  max-height 317px
  overflow auto
