@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/reg-common'
.container .my_right .content{
  background-color #fff
}
.content table{
  color #666666
  margin-bottom 65px
}
.infoTable01 {
  margin-top 0px
}
.noData{
  color #666
  display none
}