@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'

.reg_form
  display inline-block

form .input>label, .select {
  width: 114px;
}
.select {
  width: 105px;
}

.textarea{
	width:340px;
	padding:10px;
	border: 1px solid #e3e3e3;
	color: #000;
	height:100px;
}
.readWarning{
	color:red;
}
form .file .file_upload{
	overflow: visible;
}