@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'

.carrier
  width 420px
  height 320px
  margin 0 auto

.carrier form .input>input[type="text"]
  width auto

.carrier form .file .file_upload
  width 167px

form .file span.msg-box
  right: 138px
  top: 0

.carrier .save_btn
  width 125px
  display inline-block
