@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'

#driver-form,#driver-form
  & select
    width 105px

#driver-form .checkbox{
	width:auto;
}
.vhidden{
	visibility:hidden;
}
.provinceIds{
	color:#000;
	width:100px;
	display: inline-block;
}
.provinceIds .checkbox{
	margin-bottom:8px;
}