@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/panel'

p,span
  color #000000

.recharge
  margin 0 auto
  display table
  margin-top 35px

.recharge .save_btn
  width 125px
  display inline-block

.recharge .gray_box
  background #FFFFFF

.recharge .platform .gray_box >div
  display inline-block
  margin 20px 46px 8px 46px

.platform .gray_box label.radio_area
  display inline-block
  position relative
  width 100px
  cursor pointer

.platform .gray_box i
  display inline
  width 60px
  height 60px
  background url("/assets/image/icons.png") no-repeat
  background-position 0 0

.platform input[type="radio"].radio
  F_center_v(20px)

.platform .gray_box i.ali
  background-position 0 -89px

.platform .gray_box i.visa
  background-position: 0 -240px
  width: 75px

.platform .gray_box i.wechat
  background-position 0 -170px

.platform .gray_box p.t-c
  padding-left 40px

.info
  color #000000
.info .c_pink
  padding-left 30px

