@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'

.reg_form
  display inline-block

form .input>label, .select {
  width: 105px;
}
#insurancetypeenum{
	display:none;
}
#insurancetypeenum label{
  min-width: 105px;
	display: inline-block;
  width:auto;
margin-bottom: 5px;
}
#insurancetypeenum div{
	float:left;
	display:table;
	color: #000;
	margin-left: 38px;
	text-align: left;
}