@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/reg-common'
.container .my_right .content{
  background-color #fff
}
.resultBox{
  text-align center
  margin-top 25px
}

.result h2{
  color #e94546
  text-align center
}
.resultFin p,.result p{
  color #666
  text-align center
}
.signBox{
  text-align center
}
.signBox textarea{
  height 287px;
  width 95%;
  color #333
  background-color #f8f8f8
  border-radius 9px
  outline none
}
.result{
  text-align center
  margin 40px
}
.pink_btn,.orange_btn{
  width 20%
  border-radius 30px
  height 45px
  margin 0 auto
  margin-top 95px
}