@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/reg-common'
.container .my_right .content{
  background-color #fff
}
.payTestBox .money{
  color #e94546
  text-align center
  font-weight bold;
  background-color #f8f8f8
  font-size  30px;
  margin-bottom 15px
  padding 20px
}
.payTestBox h2{
  margin 0
  font-weight  normal;
  font-size 24px;
  color #666
  padding 20px
  text-align center
  background-color #f8f8f8
  border-bottom 1px solid #ddd
}
.payList{
  text-align center
  color #666
  background-color #f8f8f8
}
.balance,.inputMsg{
  font-size 24px
  padding  20px
}
.inputBox input{
  font-size 20px
  height 45px
  padding-left 10px
  padding-bottom 20px
}

.btnBox .pink_btn,.btnBox .orange_btn{
  width 20%
  border-radius 30px
  height 45px
  margin 0 auto
  margin-top 95px
}

