@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'
@import '../common/reg-common'
.container .my_right .content{
  background-color #fff
}
//.alertBox{
//  width: 22%;
//  height: 31%;
//  position: absolute;
//  top: 46%;
//  left: 43%;
//  border 1px solid #ddd
//  background-color #fff
//}
.timeBox{
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content:   center  ;
  margin-top 48px
}
.timeimg,.timetext{
  width 45px
  font-size 32px
  margin-right 12px
  margin-top 20px
  height 45px
  line-height  45px
  color #666
  display inline
}
.testList{
  color #666
  padding 25px
  background-color #f8f8f8
}
.topic{
  margin 10px 0
}
.topic span:first-child{
  margin-right 2px
}
.testList ol li{
  cursor: pointer;
  margin: 20px 0;
  padding-left: 27px;
  background-image: url(/../assets/image/unchecked.png);
  background-repeat: no-repeat;
  background-position: 6px 4px;
}
.liChecked{
  color #e94546
  font-weight bold
  background-image: url(/../assets/image/checked.png) !important;
  background-repeat no-repeat
}
.btnBox{
  display flex
  justify-content center
  margin-top 20px
}
.btnBox .btn{
  margin-right 10px
  width 23%
  border-radius 30px
  height 45px
}
.notFirstBtn{
  margin-right 10px
  width 23%
  border-radius 30px
  height 45px
  background-color #4cd964
}
.exit{
  text-align right
}
.exit_btn{
  width 6%
  height 45px
  background-color #1c94c4
  color #fff
  border-radius 10px
  margin 20px
}
.layui-layer .layui-layer-content{
  color #666
}
