@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../reg-step2'

.reg_form
  display inline-block
form .input input{
	width 325px
}
form .input>label, .select {
  width: 114px;
}
.select {
  width: 105px;
}
.orange_btn{
	width: 100%;
	height: 45px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	background: #e94546 url("/assets/image/bg_orange_btn.png") repeat-x;
	display: block;
	background-size: 100% 100%;
}
.textarea{
	width:340px;
	padding:10px;
	border: 1px solid #e3e3e3;
	color: #000;
	height:100px;
}
.readWarning{
	color:red;
}
form .file .file_upload{
	overflow: hidden;
}
form .file input[type="file"] {
	position absolute
	left 0px
	top 0px
}
.file_upload img{
	width 100%
	height 100%
}
.reg_form .save_btn {
	width: 180px;
	display: inline-block;
}
.bottomBox{
	position relative
}