@import '../common/normalize'
@import '../common/common'
@import '../common/header'
@import '../common/footer'
@import '../utils/fun'

.container .content
  border 1px solid #e3e3e3
  background-color #f8f8f8
  padding 10px 0
  & .pagearea,.list
    width 80%
    margin 20px auto

.list
  line-height 30px
  vertical-align middle
  & thead tr
    border-bottom 1px solid #d3d3d3
  & a
    text-decoration underline
  & td .rating-level
    display inline-block
