@import '../common/my-common'
@import '../common/header'
@import '../common/footer'
@import '../my/my-carrier'

.content
  min-height 400px
  & form
    width 700px
    margin auto
    & .input label
      width 170px
    & input[type="submit"]
      width 100px
      display inline-block

