doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="/assets/styles/my/owngoods-detail.min.css")

    body
        // header
        include ../../com/header

        //containner
        div.container.clearfix
            .my_nav.fl
                include ../../com/my-nav
            .my_right.fr

                div
                   p.local_nav 当前位置：
                    a(href="/my/my-index.html") 个人中心
                    span.splite >
                    a(href="owngoods-index.html") 推荐货源
                    span.splite >
                    span 推荐货源详情

                .content.gray_box
                    #data-detail
                        //.product
                        //    img(width="284",height="284",src="http://www.w3school.com.cn/i/eg_tulip.jpg")
                        //    .product_info.fr
                        //        .product_modal 货源编号：00000
                        //        p.product_title 江苏省南京市白下区—>浙江省杭州市下城区
                        //        .product_detail.c_282828
                        //            div 蔬菜水果、保险品、重量2吨、体积20m³
                        //            div 装货次数：2次        卸货次数：2次
                        //            div 单件尺寸：长1.0m、高2.0m、宽3.0m
                        //            div 货物数量：20件
                        //            div 保证金：￥500
                        //            div 付款方式：现付
                        //            div 货源类型：普通
                        //            div 备注：长期有效
                        //            .clearfix
                        //                .fl
                        //                    div 装货信息：
                        //                    div 2014年11月09日12点 上海市闸北区陆家嘴45号盛昌大厦
                        //                    div 卸货信息：
                        //                    div 2014年11月09日12点 湖北武汉市汉口区岳家嘴145号
                        //
                        //section.c_282828
                        //    .title 车主信息
                        //    .info
                        //        div 蔬菜水果、保险品、重量2吨、体积20m³
                        //        div 装货次数：2次        卸货次数：2次
                        //        div 单件尺寸：长1.0m、高2.0m、宽3.0m
                        //        div 货物数量：20件
                        //        div 保证金：￥500
                        //        div 付款方式：现付
                        //        div 货源类型：普通

                    section.c_282828
                        .title
                            span 评价信息
                            ul.tab
                                li.active(data-type="") 全部
                                    span (0)
                                li(data-type="good") 好评
                                    span (0)
                                li(data-type="bad") 差评
                                    span (0)

                        ul.list#data-list
                            

                    .t-c
                        include ../../com/page


        // footer
        include ../../com/footer
        include ../../com/page-tmpl

        script(type="text/javascript") seajs.use("/assets/scripts/my/owngoods/owngoods-detail.js");

        script(type="text/html",id="data-list-tmpl")
            | <!--[for(i=0;i<list.length;i++){]-->
            | <li>
            | <div class="clearfix top">
            | <div class="user_img"><img src="<!--[=list[i].userPhotoImg]-->" width="100%" height="100%" class="fl">
            | <div class="user-info">
            | <div><!--[=list[i].memberTypeName]--></div>
            | <div><!--[=$isNoName(list[i].isAnon,list[i].cellPhone)]--></div>
            | </div>
            | </div>
            | <div class="tags fr c_282828">
            | <!--[if(list[i].tagList || list[i].tagList.length){]-->
            | <!--[for(j=0;j<list[i].tagList.length;j++){]-->
            | <span><!--[=list[i].tagList[j].tagContent]--></span>
            | <!--[}]-->
            | <!--[}]-->
            | </div>
            | </div>
            | <div class="text"><!--[=list[i].appraiseContent]--></div>
            | <div class="clearfix"><span class="fr"><!--[=list[i].createTime]--></span></div>
            | </li>
            | <!--[}]-->

        script(type="text/html",id="data-detail-tmpl")
            | <div class="product"><img width="284" height="284" src="<!--[=$absImg(goodImg,'good')]-->">
            | <div class="product_info fr">
            | <div class="product_modal">货源编号：<!--[=goodNum]--></div>
            | <p class="product_title"><!--[=loadPlacePro || '']--><!--[=loadPlaceCity || '']--><!--[=loadPlaceArea || '']-->—&gt;<!--[=unloadPlacePro || '']--><!--[=unloadPlaceCity || '']--><!--[=unloadPlaceArea || '']--></p>
            | <div class="product_detail c_282828">
            | <div><!--[=goodName]-->、<!--[=goodKindName]-->、<!--[=goodType]-->、重量<!--[=weight]-->吨、体积<!--[=cubage]-->m³</div>
            | <div>所需车型：<!--[=vehicleType || '--']--></div>
            | <div>装货次数：<!--[=loadCount]-->次        卸货次数：<!--[=unLoadCount]-->次</div>
            | <div>单件尺寸：长<!--[=goodLong]-->m、高<!--[=goodHigh]-->m、宽<!--[=goodWidth]-->m</div>
            | <div>货物数量：<!--[=goodCount]-->件</div>
            | <div>保证金：￥<!--[=bondMoney]--></div>
            | <div>付款方式：<!--[=payTypeName]--></div>
            | <div>保险：<!--[=insuranceType]--></div>
            | <div>支付佣金：<!--[=isCommission=='false'?"否":"是"]--></div>
            | <div>业务类型：<!--[=businessTypeName]--></div>
            | <div>备注：<!--[=nodes]--></div>
            | <div class="clearfix">
            | <div class="fl">
            | <div>装货信息：</div>
            | <div><!--[=loadTime]-->&nbsp;<!--[=loadPlacePro || '']--><!--[=loadPlaceCity || '']--><!--[=loadPlaceArea || '']--><!--[=loadPlace || '']--></div>
            | <div>卸货信息：</div>
            | <div><!--[=unloadTime]-->&nbsp;<!--[=unloadPlacePro || '']--><!--[=unloadPlaceCity || '']--><!--[=unloadPlaceArea || '']--><!--[=unloadPlace || '']--></div>
            | </div>
            | <!--[if(!$isOwner(createBy)){]-->
            | <button class="fr go-price" data-id="<!--[=goodId]-->" data-gt="<!--[=goodType]-->">我要报价</button>
            | <!--[}]-->
            | </div>
            | </div>
            | </div>
            | </div>
            | <section class="c_282828">
            | <div class="title">公司信息</div>
            | <div class="info">
            | <div>名称：<!--[=cmpName]--></div>
            | <div>电话：<!--[=$isLogin(cmpPhone)]--></div>
            | <div>经营范围：<!--[=cmpDetailAdd]--></div>
            | </div>
            | </section>