@import './common/normalize'
@import './common/common'
@import './common/header'
@import './common/footer'
@import './utils/fun'



.login_form
  width 382px
  margin 90px auto
  @extends .gray_box
  background-color $GlobalBg

.login_form form
  margin 20px 30px 46px 30px

.login_form .login_btn
  margin-bottom 42px

.login_form .rem_pwd
  color #000000
  font-size 12px
  margin-bottom 37px

.login_form .login_form_title
  color #000000
  font-size 18px

.login_form .input_group input
  width 75%

.n-default .n-left, .n-default .n-right
  margin-left 55px