doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="./assets/styles/index.min.css")
    body
        // header
        include com/header

        //containner
        div.container
            //banner
            .banner
                .items#banner
                .navi
            //c_center
            div.clearfix.c_center

                //新闻公告
                .article.fl.news
                    .article_head
                        .article_title.clearfix
                            span.fl 新闻公告
                            a.fr(href="/ours/notice-list.html") 更多
                        .article_line
                            span
                    .article_content#news

                  //活动广告
                .article.fr.activity
                    .article_head
                        .article_title.clearfix
                            span.fl 活动广告
                        .article_line
                            span
                    include com/ad-tmpl


            //c_bottom
            div.clearfix.c_bottom
                //货源信息
                .article.fl.goods
                    .article_head
                        .article_title.clearfix
                            span.fl 货源信息
                            a.fr(href="/goods/goods-index.html") 更多
                        .article_line
                            span
                    ul.article_content#goods
                        //for i in [1,2,3,4,5,6,7,8]
                        //   li
                        //        div.fz-16.c_282828
                        //            a 江苏省南京市白下区—>浙江省杭州市下城区
                        //        div
                        //            a 沪D96702、冷藏、高栏车、载重5吨、长x宽x高:3m x 4m x 5m沪D96702
                        //        div.c_282828
                        //            span 杜晗 &nbsp;
                        //            span 18066722251 &nbsp;
                        //            span 保证金:&nbsp;
                        //            span ￥600

                //车源信息
                .article.fl.cars
                    .article_head
                        .article_title.clearfix
                            span.fl 车源信息
                            a.fr(href="/cars/cars-index.html") 更多
                        .article_line
                            span
                    ul.article_content#cars
                        //for i in [1,2,3,4,5,6,7,8]
                        //    li
                        //        div.fz-16.c_282828
                        //            a 江苏省南京市白下区—>浙江省杭州市下城区
                        //        div
                        //            a 沪D96702、冷藏、高栏车、载重5吨、长x宽x高:3m x 4m x 5m沪D96702
                        //        div.c_282828
                        //            span 杜晗 &nbsp;
                        //            span 18066722251 &nbsp;
                        //            span 保证金:&nbsp;
                        //            span ￥600


                //物流公司
                .article.fl.company
                    .article_head
                        .article_title.clearfix
                            span.fl 物流公司
                            a.fr(href="/express/express-index.html") 更多
                        .article_line
                            span
                    ul.article_content#express
                        //for i in [1,2,3,4,5,6,7,8]
                        //    li
                        //        div.fz-16.c_282828
                        //            a 江苏省南京市白下区—>浙江省杭州市下城区
                        //        div
                        //            a 沪D96702、冷藏、高栏车、载重5吨、长x宽x高:3m x 4m x 5m沪D96702
                        //        div.c_282828
                        //            span 杜晗 &nbsp;
                        //            span 18066722251 &nbsp;
                        //            span 保证金:&nbsp;
                        //            span ￥600

                //人员招聘
                .article.fl.recruit
                    .article_head
                        .article_title.clearfix
                            span.fl 人员招聘
                            a.fr(href="/recruit/recruit-index.html") 更多
                        .article_line
                            span
                    ul.article_content#recruit

                //招投标
                .article.fl.tenders
                    .article_head
                        .article_title.clearfix
                            span.fl 招投标
                            a.fr(href="/tenders/tenders-index.html") 更多
                        .article_line
                            span
                    ul.article_content#tenders

                //二手车
                .article.fl.usedcar
                    .article_head
                        .article_title.clearfix
                            span.fl 二手车
                            a.fr(href="/usedcar/usedcar-index.html") 更多
                        .article_line
                            span
                    ul.article_content#usedcar

        // footer
        include com/footer
        script(type="text/javascript") seajs.use("./assets/scripts/index/jquery.corner.js");
        script(type="text/javascript") seajs.use("./assets/scripts/index/index.js");

        script(type="text/html",id="goods-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
            <li>
            <div class="fz-16 c_282828"><a data-id="<!--[=list[i].goodId]-->" data-cb="<!--[=list[i].createBy || '']-->" ><!--[=list[i].loadPlacePro || '']--><!--[=list[i].loadPlaceCity || '']--><!--[=list[i].loadPlaceArea || '']-->—&gt;<!--[=list[i].unloadPlacePro || '']--><!--[=list[i].unloadPlaceCity || '']--><!--[=list[i].unloadPlaceArea || '']--></a></div>
            <div><a data-id="<!--[=list[i].goodId]-->" data-cb="<!--[=list[i].createBy || '']-->" ><!--[=list[i].goodName || '']-->、<!--[=list[i].goodKindName]-->、预估体积<!--[=list[i].cubage]-->m³、重量<!--[=list[i].weight]-->吨</a></div>
            <div class="c_282828"><span><!--[=list[i].reallyName]--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone) ||  '']--> &nbsp;</span><span>保证金:&nbsp;</span><span>￥<!--[=list[i].bondMoney || 0]--></span></div>
            </li>
            <!--[}]-->

        script(type="text/html",id="cars-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
            <li>
            <div class="fz-16 c_282828"><a data-id="<!--[=list[i].drvMemberId || '']-->" data-cb="<!--[=list[i].drvMemberId || '']-->" ><!--[=list[i].fromProvinceId]--><!--[=list[i].fromCityId]--><!--[=list[i].fromAreaId]-->—&gt;<!--[=list[i].toProvinceId]--><!--[=list[i].toCityId]--><!--[=list[i].toAreaId]--></a></div>
            <div><a data-id="<!--[=list[i].drvMemberId || '']-->" data-cb="<!--[=list[i].drvMemberId || '']-->" ><!--[=list[i].drvVehicleLicenceNo || '']-->、<!--[=list[i].drvNatureName || '']-->、<!--[=list[i].drvVehicleType || '']-->、车长<!--[=list[i].drvVehicleLong || '']-->m 、 车宽<!--[=list[i].drvVehiclewidth || '']-->m 、车高<!--[=list[i].drvVehicleHigh || '']-->m </a></div>
            <div class="c_282828"><span><!--[=list[i].reallyName]--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone) ||  '']--> &nbsp;</span></div>
            </li>
            <!--[}]-->

        script(type="text/html",id="express-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
             <li>
             <div class="fz-16 c_282828"><a data-id="<!--[=list[i].cmpMemberId || '']-->"><!--[=list[i].fromProvinceId || '']--><!--[=list[i].fromCityId || '']--><!--[=list[i].fromAreaId || '']-->—&gt;<!--[=list[i].toProvinceId || '']--><!--[=list[i].toCityId || '']--><!--[=list[i].toAreaId || '']--></a></div>
             <div><!--[=list[i].cmpName || '']--></div>
             <div class="c_282828"><span><!--[=list[i].reallyName || '']--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone) || '']--></div>
             </li>
             <!--[}]-->

        script(type="text/html",id="recruit-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
             <li>
             <div class="fz-16 c_282828"><a data-id="<!--[=list[i].recruitId || '']-->"><!--[=list[i].recruitTitle || '']--></a></div>
             <div><!--[=list[i].positionTypeName]-->、<!--[=list[i].recruitPosition]-->、<!--[=list[i].priceName]--></div>
             <div class="c_282828"><span><!--[=list[i].reallyName || '']--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone) || '']--></div>
             </li>
             <!--[}]-->

        script(type="text/html",id="tenders-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
             <li>
             <div class="fz-16 c_282828"><a data-id="<!--[=list[i].tenderId || '']-->">【<!--[=list[i].tenderCompany || '']-->】<!--[=list[i].tenderTitle || '']--></a></div>
             <div><!--[=list[i].isTechnical=='false'?"非技术标":"技术标"]-->，<!--[=list[i].wonBasic=='0'?"最低价中标":"平均价中标"]-->，招标结束日期：<!--[=$DateFormat(list[i].endTime,'yyyy-MM-dd')]--></div>
             <div class="c_282828"><span><!--[=list[i].tenderName || '']--> &nbsp;</span><span><!--[=$isLogin(list[i].tenderPhone) || '']--></div>
             </li>
             <!--[}]-->
             
        script(type="text/html",id="usedcar-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
             <li>
             <div class="fz-16 c_282828"><a data-id="<!--[=list[i].oldcarId || '']-->">【<!--[=list[i].carBrand]-->】 <!--[=list[i].oldcarTitle]--></a></div>
             <div><!--[=list[i].provinceName]--><!--[=list[i].cityName]--><!--[=list[i].areaName]--><!--[=list[i].lookPlace]--></div>
             <div class="c_282828"><span><!--[=list[i].reallyName || '']--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone) || '']--></div>
             </li>
             <!--[}]-->

        script(type="text/html",id="banner-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
            <a data-id="<!--[=list[i].id || '']-->" href="<!--[=list[i].url || '']-->" target="_blank" class="item"><img src="<!--[=list[i].adImg]-->"></a>
            <!--[}]-->

        script(type="text/html",id="news-tmpl").
            <!--[for(i=0;i<list.length;i++){]-->
            <a data-id="<!--[=list[i].id || '']-->"><!--[=list[i].title]--></a>
            <!--[}]-->