doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="/assets/styles/my/my-tenders.min.css")

    body
        // header
        include ../../com/header

        //containner
        div.container.clearfix
            .my_nav.fl
                include ../../com/my-nav
            .my_right.fr

                div
                   p.local_nav 当前位置：
                    a(href="/my/my-index.html") 个人中心
                    span.splite >
                    span 我的招标

                .content
                    .order_list
                        form
                            .o_header
                                span#count 共0条
                        ul.o_data#data-list

                    .t-c
                        include ../../com/page


        // footer
        include ../../com/footer
        include ../../com/page-tmpl
        script(type="text/javascript") seajs.use("/assets/scripts/my/tenders/my-tenders.js");

        script(type="text/html",id="data-list-tmpl")
            | <!--[for(i=0;i<list.length;i++){]-->
            | <li>
            | <div class="clearfix">
            | <div class="c_282828"><a href="#" data-id="<!--[=list[i].tenderId]-->">

            | <div class="fl">
            | <p class="clearfix"><span class="fl"><!--[=list[i].tenderTitle || '']--></span><span class="fr"><!--[=list[i].tenderStatusName || '']--></span></p>

            | <p class="clearfix"><!--[=list[i].isTechnical=='false'?"非技术标":"技术标"]-->，<!--[=list[i].wonBasic=='0'?"最低价中标":"平均价中标"]-->，招标结束日期：<!--[=$DateFormat(list[i].endTime,'yyyy-MM-dd')]--></p>
          
            | <p><span class="fl"><!--[=list[i].tenderName || '']--> <!--[=list[i].tenderPhone || '']--></span> <span class="fr"><!--[=list[i].createTime || '']-->发布</span></p>
            
            | </div>
            | </a></div>
            | </div>
            | </li>
            | <!--[}]-->


