doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="/assets/styles/my/my-carrier.min.css")

    body
        // header
        include ../../com/header

        //containner
        div.container.clearfix
            .my_nav.fl
                include ../../com/my-nav
            .my_right.fr

                div
                   p.local_nav 当前位置：
                    a(href="/my/my-index.html") 个人中心
                    span.splite >
                    a(href="/my/order/my-order.html") 我的订单
                    span.splite >
                    span 承运人

                .content
                    .carrier
                        form#carrier_form
                            div.input
                                label 真实姓名*：
                                input(type="text",name="drvReallyName",data-rule="required;length[1~20]")
                            div.input
                                label 手机号*：
                                input(type="text",name="drvCellPhone",data-rule="required;mobile;")
                            div.input
                                label 身份证号*：
                                input(type="text",name="drvIdentityCardNo",data-rule="required;ID_card;")
                            div.input
                                label 车牌号*：
                                input(type="text",name="drvVehicleLicenceNo",data-rule="required;length[1~20]")
                            div.input.file
                                label 身份证照片*：
                                .file_upload
                                    img
                                    input(type="file")
                                    input(type="hidden",name="drvIdentityCardImg",data-rule="required;",value="")
                                span(class="msg-box",for="drvIdentityCardImg")
                            div.input.file
                                label 行驶证照片：
                                .file_upload
                                    img
                                    input(type="file")
                                    input(type="hidden",name="drvTLicenseImg")
                            div.input.file
                                label 驾驶证照片*：
                                .file_upload
                                    img
                                    input(type="file")
                                    input(type="hidden",name="drvLicenseImg")

                            .t-c
                                input(type="submit",class="pink_btn save_btn",value="保存")
        // footer
        include ../../com/footer

        script(type="text/javascript") seajs.use("/assets/scripts/my/order-carrier.js");

