@import '../common/normalize'
@import '../common/common'
@import '../common/header'
@import '../common/footer'
@import '../utils/fun'


.ad
  width 346px

.order_list
  width 910px

.cars
  margin 0 20px

.c_bottom >div
  width 420px
  margin-bottom 52px

.c_center
  margin 15px 0

.article .gray_box
  padding 10px
  margin-bottom 25px
  & form button
    width 80px
    height 30px
    color #ffffff
    display inline-block

.article .article_content a,
.news .article_content a
  F_ellipsis(inherit)
  line-height 22px
  &:hover
    text-decoration underline

.article_line span
  width 100px

.c_center .article .article_content
  padding 0

.c_center .article >ul.article_content >li
  border-bottom 1px solid #d3d3d3
  padding 8px 3px
  line-height 20px

.rating-level
  float left
  margin-right 20px

// 搜索框
#list_search
  & select,input[type="text"]
    width: 120px

.article_content li img
  width 110px
  margin-right  10px

#data-list .fl_info{
  width:780px;
}

#data-list .fl_info a.fl{
  max-width:100%;
}