.panel {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 365px;
  padding: 0 32px;
  margin-left: -214px;
  margin-top: -127px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 1px 0px 25px rgba(25,23,24,0.55);
  -moz-box-shadow: 1px 0px 25px rgba(25,23,24,0.55);
  -ms-box-shadow: 1px 0px 25px rgba(25,23,24,0.55);
  -o-box-shadow: 1px 0px 25px rgba(25,23,24,0.55);
  box-shadow: 1px 0px 25px rgba(25,23,24,0.55);
}
.panel .panel-show {
  display: block;
}
.panel .panel-content {
  display: table;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid #d3d3d3;
  color: #000;
  text-align: center;
}
.panel .panel-cell {
  display: table-cell;
  vertical-align: middle;
}
.panel .panel-close:hover {
  background-color: #5d5d5d;
}
.panel .panel-title {
  font-size: 16px;
  padding-bottom: 10px;
}
.panel .panel-text {
  line-height: 2.1em;
  font-size: 14px;
  overflow: auto;
}
.panel .panel-buttons {
  padding: 28px 0;
}
.panel .options {
  text-align: center;
}
.panel .options .btn {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  padding: 7px 15px;
  color: #fff;
  background-color: #e94546;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.panel .options .btn:hover {
  background-color: #e94546;
  text-decoration: none;
}
.panel .options .btn.disabled {
  color: #4b4b4b;
  background-color: #eaeaea;
  cursor: not-allowed;
}
.panel .options .btn-cancel {
  margin-left: 10px;
  color: #929292;
  border: 1px solid #eee;
  background-color: #eee;
}
.panel .options .btn-cancel:hover {
  color: #fff;
  border-color: #d3d3d3;
  background-color: #d3d3d3;
}
.panel .options .btn-submit {
  margin-right: 14px;
  background-color: #c08dec;
}
.panel .panel-tips {
  padding-top: 10px;
  color: #7a7a7a;
  text-align: center;
}
.panel-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  display: none;
  z-index: 90;
  opacity: 0.4;
}
