// 公用变量保存



//页面颜色设置 cl_
$HeaderAndFooterBg = #333333 //头部,底部背景色
$GlobalBg = #ffffff //全局背景以及字体颜色
$LogoBg = #e94546 //Logo背景色
$cl_grayboxborder = #e3e3e3 //页面灰色盒子边框颜色
$cl_grayboxbg = #f8f8f8 //页面灰色盒子背景颜色

//变量值 value v_
$MaxContainerWidth = 1300px //页面内容最大宽度
$HeaderHeight = 100px //头部高度
$LogoWH = 67px //Logo宽高

//字体大小 font-size fz_
$fz_footer = 15px


//字体颜色 text_color tc_
$tc_footer = #5f5f5f //页脚文字颜色

//按钮边框颜色
$btn_b_pink = #eb4849
$btn_b_gray = #cfcfcf
$btn_b_d4d4d4 = #d4d4d4
