.footer
    .footer_content.clearfix
        a.logo(href="/index.html")
        .copyright
            .footer_nav
                a(href="/index.html") 网站首页
                a(href="/ours/company-info.html") 公司简介
                a(href="/ours/contact.html") 联系我们
                a(href="/ours/help.html") 使用帮助
            .footer_com_name 南通阿拉丁网络科技有限公司
            .footer_copyright
                div 备案号：苏ICP备10027778号-1
                div 版权所有 ©2010-2014 dingding56.com
        a.android_app(href="#")


// seajs
script(type="text/javascript",src="/assets/scripts/module/sea/sea.js")
script(type="text/javascript",src="/assets/scripts/module/sea/sea-config.js")