.article
    .article_head
        .article_title
            span 内容
        .article_line
            span
    ul.nav
        li
            a 公司简介
        li
            a 联系我们
        li
            a 使用帮助
        li
            a 公告