doctype html
html
    head
        title 丁丁物流
        mate(charset="utf-8")
        mate(came="description" content="")
        meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
        mate(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css", rel="stylesheet", href="../assets/styles/order/index.min.css")

    body
        // header
        include ../com/header

        //containner
        div.container

            //localtion
            p.local_nav 当前位置：订单中心

            //c_center
            div.clearfix.c_center

                //车源详情
                .article.fl.order_list
                    .article_head
                        .article_title.clearfix
                            span.fl#count 共0条
                            .orderby.c_282828
                                //a.d_order(data-order="true") 默认排序
                                //a.o_order(data-order="desc") 好评率
                                //a.t_order(data-order="desc") 成交次数
                        .article_line
                            span
                    ul.article_content#data-list
                        //for i in [1,2,3,4,5,6,7,8]
                        //    li
                        //        div.fz-16.c_282828.clearfix
                        //            a.fl 江苏省南京市白下区—>浙江省杭州市下城区
                        //            span.fr.fc_e67b09 已有24人报价
                        //        div
                        //            a 沪D96702、冷藏、高栏车、载重5吨、长x宽x高:3m x 4m x 5m沪D96702
                        //        div.c_282828
                        //            span 杜晗 &nbsp;
                        //            span 18066722251 &nbsp;
                        //
                        //        div.c_282828
                        //            ul.rating-level
                        //                li
                        //                    a.one-star(href="#")
                        //                li
                        //                    a.two-stars.active(href="#")
                        //                li
                        //                    a.three-stars(href="#")
                        //                li
                        //                    a.four-stars(href="#")
                        //                li
                        //                    a.five-stars(href="#")
                        //            span 好评率：
                        //            span 87% &nbsp;&nbsp;
                        //            span 成交次数：
                        //            span 89
                        //        div.clearfix
                        //            span.fr 2015-12-12 12:00 发布
                    .t-c
                        include ../com/page

                  //活动广告
                .article.fr.ad
                    .article_head
                        .article_title.clearfix
                            span.fl 广告活动
                        .article_line
                            span
                    include ../com/ad-tmpl

        // footer
        include ../com/footer

        script(type="text/javascript") seajs.use("../assets/scripts/order/index.js");

        include ../com/page-tmpl

        script(type="text/html",id="data-list-tmpl")
            | <!--[for(i=0;i<list.length;i++){]-->
            | <li data-id="<!--[=list[i].goodId]-->" data-cb="<!--[=list[i].createBy]-->" > <div class="fz-16 c_282828 clearfix">
            | <a class="fl" data-id="<!--[=list[i].goodId || '']-->" data-cb="<!--[=list[i].createBy]-->"><!--[=list[i].loadPlacePro || '']--><!--[=list[i].loadPlaceCity || '']--><!--[=list[i].loadPlaceArea || '']-->—&gt;<!--[=list[i].unloadPlacePro || '']--><!--[=list[i].unloadPlaceCity || '']--><!--[=list[i].unloadPlaceArea || '']--></a>
            | </div>
            |               <div><a data-id="<!--[=list[i].goodId || '']-->" data-cb="<!--[=list[i].createBy]-->" ><!--[=list[i].goodName || '']-->、<!--[=list[i].goodKindName]-->、预估体积<!--[=list[i].cubage]-->m³、重量<!--[=list[i].weight]-->吨</a></div>
            |               <div class="c_282828"><span><!--[=list[i].reallyName]--> &nbsp;</span><span><!--[=$isLogin(list[i].cellPhone)]--> &nbsp;</span></div>
            |               <div class="c_282828">
            |                 <ul class="rating-level" data-level="<!--[=$printStar(list[i].praiseRate)]-->">
            |                   <li><a href="#" class="one-star"></a></li>
            |                   <li><a href="#" class="two-stars"></a></li>
            |                   <li><a href="#" class="three-stars"></a></li>
            |                   <li><a href="#" class="four-stars"></a></li>
            |                   <li><a href="#" class="five-stars"></a></li>
            |                 </ul><span>好评率：</span><span><!--[=list[i].praiseRate]-->% &nbsp;&nbsp;</span><span>成交次数：</span><span><!--[=list[i].doneNum]--></span>
            |               </div>
            |               <span class="fr"><!--[=list[i].createTime]--> 发布</span>
            |             </li>
            | <!--[}]-->
